[uwsgi]
# this config will be loaded if nothing specific is specified
# load base config from below
ini = :base

# %d is the dir this configuration file is in
socket = {{.Env.APP_SOCKET_FILE}}
master = true
processes = {{.Env.APP_PROCESSES_NUM}}

[dev]
ini = :base
# socket (uwsgi) is not the same as http, nor http-socket
socket = :{{.Env.APP_WEBSOCKET_PORT}}


[local]
ini = :base
http = :8000
# set the virtual env to use
home={{.Env.APP_VIRTUALENV_PATH}}


[base]
# chdir to the folder of this config file, plus app/website
chdir = {{.Env.APP_DIR}}
# load the module from wsgi.py, it is a python path from 
# the directory above.
module=PictureShareService.wsgi.application
# allow anyone to connect to the socket. This is very permissive chmod-socket=666
chmod-socket=666