<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="author" content="DUDCHENKO Oleksandr">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    {% load staticfiles %}
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <link rel="shortcut icon" href="/static/favicon.ico"/>
    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>PictureShareService</title>
    {% endif %}
    
    {% block head %}{% endblock %}
  </head>
  <body>
    {% block header %}
      <nav class="navbar navbar-default navbar-static" id="navbar-example">
        <div class="container-fluid">
          <div class="navbar-header">
            <a href="/" class="navbar-brand" aria-label="Left Align"><span class="glyphicon glyphicon-home" aria-hidden="false"></span>  PictureShareService</a>
          </div>
          <div class="collapse navbar-collapse ">
          <ul class="nav navbar-nav">
            <li>
              <a href="/"> Home </a>
            </li>
            <li>
              <a href="/popular/"> Most popular</a>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle"
                 id="drop3" data-toggle="dropdown"
                 role="button" aria-haspopup="true"
                 aria-expanded="false"> Dropdown <span class="caret"></span>
              </a>
              <ul class="dropdown-menu" aria-labelledby="drop3">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Separated link</a></li>
              </ul>
            </li>
          </ul>
          </div>
        </div>
      </nav>

    {% endblock %}
    {% block body %}{% endblock %}
    {% block footer %}{% endblock %}
  </body>
</html>