{% extends "base.html" %}
{% block body %}
<style>
@media only screen and (max-width: 1200px) {
    #popoverExample + div {
       left: 45% !important;
    }
}

.blinking {
  background-color: #004A7F;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  border: none;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: Arial;
  font-size: 15px;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  -webkit-animation: glowing 1500ms infinite;
  -moz-animation: glowing 1500ms infinite;
  -o-animation: glowing 1500ms infinite;
  animation: glowing 1500ms infinite;
}
@-webkit-keyframes glowing {
  0% { background-color: #B20000; -webkit-box-shadow: 0 0 3px #B20000; }
  50% { background-color: #FF0000; -webkit-box-shadow: 0 0 40px #FF0000; }
  100% { background-color: #B20000; -webkit-box-shadow: 0 0 3px #B20000; }
}

@-moz-keyframes glowing {
  0% { background-color: #B20000; -moz-box-shadow: 0 0 3px #B20000; }
  50% { background-color: #FF0000; -moz-box-shadow: 0 0 40px #FF0000; }
  100% { background-color: #B20000; -moz-box-shadow: 0 0 3px #B20000; }
}

@-o-keyframes glowing {
  0% { background-color: #B20000; box-shadow: 0 0 3px #B20000; }
  50% { background-color: #FF0000; box-shadow: 0 0 40px #FF0000; }
  100% { background-color: #B20000; box-shadow: 0 0 3px #B20000; }
}

@keyframes glowing {
  0% { background-color: #B20000; box-shadow: 0 0 3px #B20000; }
  50% { background-color: #FF0000; box-shadow: 0 0 40px #FF0000; }
  100% { background-color: #B20000; box-shadow: 0 0 3px #B20000; }
}

.plate-list {
  white-space: normal;
  text-align: left;
  -webkit-padding-start: 0;
}

.plate-list:after {
  content:'';
  display: block;
  clear: both;
}

.plate__item {
    display: inline-block;
    width: {{td_width}};
    height: {{td_height}};
    box-sizing: border-box;
    padding: 10px 10px;
    margin-top: 5px;
    vertical-align: top;
    border: 1px solid;
    border-radius: 10px;
}

.plate__item:first-child {
    margin-left: 0;
}

.one_line {
    white-space: nowrap;
}

@media only screen and (max-width: 1499px) {
    .plate__item {
        width: 32%;
    }
@media only screen and (max-width: 1149px) {
    .plate__item {
        width: 48%;
    }
@media only screen and (max-width: 549px) {
    .plate__item {
        width: 100%;
    }
}
</style>
<div class="col-md-12 container" role="main">

    <form class="form-horizontal" action="" method="post" enctype="multipart/form-data"
          style="border-radius: 25px; padding: 20px 20px 0; border: 2px solid #73AD21; margin: 0 0 25px 0px;">
        {% if user.is_anonymous %}
        <div style="text-align: center;">
            <p class="blinking">Please note: in order to be able to submit pictures you need to be authenticated.</p>
        </div>
        {% endif %}
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div class="form-group btn-default">
            <label class="col-md-2 control-label" for="{{ form.picture.id_for_label }}">Picture file for upload:</label>

            <div class="col-md-3"
                 container="body"
                 id="popoverExample"
                 data-toggle="popover"
                 data-trigger="focus"
                 data-placement="right"
                 data-content="{{form.picture.errors.as_text}}"
                 template='<div class="popover" role="tooltip">
                            <div class="arrow"></div>
                            <h3 class="popover-title"></h3>
                            <div class="popover-content" style="background-color: #5bc0de; border-color: #46b8da;"></div>
                         </div>'
            >
                {{ form.picture }}
            </div>
        </div>
        <div class="form-group form-group-sm btn-default" >
            {{form.description.errors}}
            <label class="col-md-2 control-label" style="padding-top: 8px;" for="{{ form.description.id_for_label }}">Picture description:</label>
            <div class="col-md-10" style="padding-top: 5px;">
                {{ form.description }}
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10 col-md-offset-1" style="padding-top: 5px;">
                <button type="submit" class="btn btn-info col-md-12 col-xs-12" >Submit</button>
            </div>
        </div>

    </form>

    <div class="btn"
         style="border-radius: 25px;
                margin-bottom: 20px;
                padding: 0 20px 20px 20px;
                border: 2px solid #73AD21;
                display: block;" >
        {% if queryset %}
        <h2 align="center" style="white-space: normal;">Recently loaded pictures.</h2>
        <style>

        </style>
        <ul class="plate-list">
            {% for item in queryset %}
            <li class="plate__item">

                <p align="left" ><strong>Picture ID:</strong> {{item.key}}&emsp;&emsp;<strong>Views: </strong>{{item.viewCounter}}</p>
                <div class="row" style="margin:0;
                                        line-height:10px;
                                        border-spacing:0;">
                    <div class="col-md-5"><p align="left"><strong>Author:</strong></p></div>
                    <div class="col-md-7"><p class="one_line" align="left">{{item.author|default:"not available"}}</p></div>
                    <div class="col-md-5"><p align="left"><strong>Uploaded at:</strong></p></div>
                    <div class="col-md-2"><p class="one_line" align="left">{{item.uploadTime|date:"d/n/Y H:i:s"}}</p></div>
                </div>
                <div class="row" style="margin:0;
                                        line-height:10px;
                                        border-spacing:0;">
                    <div class="col-md-5"><p align="left"><strong>Last viewed at:</strong></p></div>
                    <div class="col-md-2"><p class="one_line" align="left">{{item.lastViewTime|date:"d/n/Y H:i:s"|default:"Not specified"}}</p></div>
                </div>
                <div class="btn btn-default">
                    <a href="/{{item.key}}">
                        <img class="img-thumbnail"
                             src="{{item.picture.url}}"
                             alt="{{item.key}} {{item.description}}"
                        />
                    </a>
                </div>
                <div class="form-group form-group-sm">
                    <label >Description:</label>
                    <textarea class="form-control"
                              align="left"
                              style="white-space: normal;
                                     text-align: justify;">{{item.description|default:"Not specified"}}
                    </textarea>
                </div>

            </li>
            {% endfor %}
        </ul>
        {% else %}
        <h2 align="center" style="white-space: normal;">No pictures found. Please proceed and add some stuff.</h2>
        {% endif %}
    </div>

</div>
<script>
    $('#popoverExample').popover('show');
    $('#popoverExample').next().on('click', function() {
        $(this).popover('hide');
    })
</script>

{% endblock %}
