{% extends "base.html" %}
{% block body %}
<div class="col-md-12" role="main">

    <form class="form-horizontal" action="" method="post" enctype="multipart/form-data"
          style="border-radius: 25px; padding: 20px 20px 0; border: 2px solid #73AD21; margin: 25px 0px;">
      {% csrf_token %}
      {{ form.non_field_errors }}
      <div class="form-group btn-default">
          <label class="col-md-2 control-label" for="{{ form.picture.id_for_label }}">Picture file for upload:</label>
          <div class="col-md-5">
          {{ form.picture }}
          </div>
          <div class="col-md-5">
            {% for error in form.picture.errors %}
            {% if error|escape == 'This field is required.' %}
            <div class="alert alert-success alert-dismissible" role="alert">
            {% else %}
            <div class="alert alert-danger alert-dismissible" role="alert">
            {% endif %}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
                <strong>{{ error|escape }}</strong>
            {% endfor %}
            </div>
            </div>
          </div>
          <div class="form-group form-group-sm btn-default" >
            {{form.description.errors}}
            <label class="col-md-2 control-label" style="padding-top: 8px;" for="{{ form.description.id_for_label }}">Picture description:</label>
            <div class="col-md-10" style="padding-top: 5px;">
            {{ form.description }}
            </div>
          </div>
          <div class="form-group">
              <div class="col-md-10 col-md-offset-1" style="padding-top: 5px;">
                <button type="submit" class="btn btn-info col-md-12">Submit</button>
              </div>
          </div>
      </div>
    </form>

    <div class="btn"
         style="border-radius: 25px;
                padding: 0 20px 20px;
                border: 2px solid #73AD21;
                margin: 0px 15px 25px;" >
        {% if queryset %}
        <h2 align="center" >Resently loaded pictures.</h2>
        <table style="width:100%;
                      border-collapse:separate;
                      border-spacing: 5px;">
        {% for line in queryset %}
            <tr>
            {% for item in line %}
              <td style="border: 1px solid LightGray;
                         border-radius: 5px;
                         -moz-border-radius: 5px;
                         padding: 5px;
                         width:{{td_width}}"
                   valign="top">
                <p align="left"><strong>Picture ID:</strong> {{item.picture.key}}&emsp;&emsp;<strong>Views: </strong>{{item.picture.viewCounter}}</p>
                <div class="row" style="margin:0;
                                        line-height:10px;
                                        border-spacing:0;">
                    <div class="col-md-5"><p align="left"><strong>Uploaded at:</strong></p></div>
                    <div class="col-md-2"><p align="left">{{item.picture.uploadTime|date:"d/n/Y H:i:s"}}</p></div>
                </div>
                <div class="row" style="margin:0;
                                        line-height:10px;
                                        border-spacing:0;">
                    <div class="col-md-5"><p align="left"><strong>Last viewed at:</strong></p></div>
                    <div class="col-md-2"><p align="left">{{item.picture.lastViewTime|date:"d/n/Y H:i:s"|default:"Not specified"}}</p></div>
                </div>
                <div class="btn btn-default">
                    <a href="{{item.picture.key}}">
                        <img class="img-thumbnail"
                             src="{{item.picture.picture.url}}"
                             width="{{ item.size.width }}"
                             height="{{ item.size.height }}"
                             alt="{{item.picture.key}} {{item.picture.description}}"
                        />
                    </a>
                </div>
                <div class="form-group form-group-sm">
                    <label >Description:</label>
                    <textarea class="form-control"
                              align="left"
                              style="white-space: normal;
                                     text-align: justify;">
                        {{item.picture.description|default:"Not specified"}}
                    </textarea>
                </div>
              </td>
            {% endfor %}
            </tr>
        {% endfor %}
        </table>
        {% else %}
        <h2 align="center" >No pictures found. Please proceeds and add some stuff.</h2>
        {% endif %}
    </div>

</div>
{% endblock %}

